<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>About Us</title>
  <link href="/css/main.css" rel="stylesheet">
</head>

<body>
  <!-- Navbar -->
  <nav class="sticky top-0 z-10 bg-green-800 text-white p-4">
    <div class="container mx-auto flex justify-between items-center">
      <a href="/" class="text-3xl font-bold">Climate Solutions</a>
      <div class="flex space-x-4">
        <a href="/about" class="text-lg active  px-4 py-2 rounded-md hover:bg-green-700">About</a>
        <div class="relative">
          <button class="text-lg  px-4 py-2 rounded-md hover:bg-green-700">Sector</button>
          <ul class="absolute left-0 mt-2 bg-white text-black shadow-lg rounded-md hidden">
            <li><a href="/solutions/projects?sector=Land Sinks" class="block p-2 whitespace-nowrap">Land Sinks</a></li>
            <li><a href="/solutions/projects?sector=Industry" class="block p-2  whitespace-nowrap">Industry</a></li>
            <li><a href="/solutions/projects?sector=Transportation" class="block p-2 whitespace-nowrap">Transportation</a></li>
          </ul>
        </div>
      </div>
    </div>
  </nav>

<!-- Hero Section -->
<section class="hero bg-green-600 text-white py-12">
  <div class="container mx-auto px-4">
    <div class="flex flex-col items-center justify-center">
      <div class="text-center mb-6">
        <h1 class="text-5xl font-bold mb-4">About</h1>
        <p class="mb-6">All about me, and my journey into programming.</p>
      </div>
    </div>
  </div>
</section>


  <!-- About Content -->
  <section class="py-12">
    <div class="container mx-auto px-4">
      <div class="grid grid-cols-1 lg:grid-cols-2 gap-8">
        <!-- Image -->
        <div class="flex justify-center items-center">
          <img src="/img/snorlax_rest.png" alt="Profile Image" class="w-[75%] h-auto object-cover">
        </div>

        <!-- About Me -->
        <div class="flex flex-col justify-center">
          <h2 class="text-2xl font-semibold mb-4">Hello, I'm Aaron!</h2>
          <p class="text-lg text-gray-600">I'm currently in the Computer Programming Analysis program at Seneca College. I have knowledge in web development and I am currently studying back-end technologies. My goal is to combine these skills and become a full-stack developer.</p>
        </div>
      </div>
    </div>
  </section>

  <script>
    // Dropdown toggle for Sector
    const sectorButton = document.querySelector('button');
    const sectorDropdown = document.querySelector('ul');
    sectorButton.addEventListener('click', () => {
      sectorDropdown.classList.toggle('hidden');
    });

    // Close the dropdown if clicked outside
    document.addEventListener('click', (event) => {
      if (!sectorButton.contains(event.target) && !sectorDropdown.contains(event.target)) {
        sectorDropdown.classList.add('hidden');
      }
    });
  </script>
</body>

</html>
